## This notebook contains the code of the task, and also the explanations for each hypothesis. And finally the result.

#### By Noureddine Arab

I started by reading the file in the cmd using the comand >type : so I got the following result : </br>

Your mission shall you accept it is to</br>
* Explain every column.</br>
* Find the 3 richest person.</br>
</br>
This is a simple test, it should not take you more 30minutes to code.</br>
</br>
</br>
</br>
a,b,c,d,e,f,g</br>
0,longue description 0,Victor,├ëvrat,1779,0,1779</br>
1,longue description 1,Ugo,Ogier,3218,0,3218</br>
2,longue description 2,Gerard,Zola,3909,0,3909</br>

So I will read just the data after the first 8 rows

In [1]:
#importing libraries
import pandas as pd
import time

    I used the chunks to read the data because the file is very volumnious

In [16]:
start = time.time()

df = pd.read_csv('data', skiprows=8, chunksize=100000)

print("FILE LOADED! this operation took", time.time()- start, "seconds")

FILE LOADED! this operation took 0.019997358322143555 seconds

In [3]:
for idx, chunk in enumerate(df):
    if idx == 0 :
        print(chunk)
    else:
        break

           a                     b         c        d     e  f       g
0          0  longue description 0    Victor    Évrat  1779  0    1779
1          1  longue description 1       Ugo    Ogier  3218  0    3218
2          2  longue description 2    Gerard     Zola  3909  0    3909
3          3  longue description 3    Ingrid  Quesada  2672  0    2672
4          4  longue description 4    Xavier    Yvars  4224  0    4224
...      ...                   ...       ...      ...   ... ..     ...
99995  99995  longue description 3     Karim    Ogier  2635  0  251704
99996  99996  longue description 4  Béatrice   Urbain  4796  0  245517
99997  99997  longue description 5  Béatrice   Martin  2087  0  295785
99998  99998  longue description 6    Pascal   Dupond  3210  0  272724
99999  99999  longue description 7    Céline    Évrat   163  0  295845

[100000 rows x 7 columns]

So analysing this first chunk we can explain the columns as follows : </br>
<h1>a :</h1> ID.</br>
<h1>b :</h1> Une description.</br>
<h1>c :</h1> The name of the person.</br>
<h1>d :</h1> The family name of the person.</br>
<h1>e :</h1> Available Funds.</br>
<h1>f :</h1> Outstanding Debts.</br>
<h1>g :</h1> Balance.</br>

So now we have to find the 3 richest persons, so I will analyse the balance column which is the "g" column

In [4]:
# Initialize variables to store the top three richest persons and their financial details
top_richest = {
    'first_name': ['', '', ''],
    'last_name': ['', '', ''],
    'balance': [0, 0, 0],
    'available_funds': [0, 0, 0],
    'outstanding_debts': [0, 0, 0]
}

For now we test just with the first chunk by putting the idx == 0

In [5]:
# Iterate through the chunks
for idx, chunk in enumerate(df):
    if idx == 0 :
        # Check if the 'g' column exists in the chunk
        if 'g' in chunk.columns and 'e' in chunk.columns and 'f' in chunk.columns:
            # Find the top three richest persons in the current chunk
            top_chunk = chunk.nlargest(3, 'g')

            # Update the top_richest list if a person from the current chunk has a higher balance
            for i in range(3):
                if top_chunk.iloc[i]['g'] > top_richest['balance'][i]:
                    top_richest['first_name'][i] = top_chunk.iloc[i]['c']  # Assuming 'c' contains first names
                    top_richest['last_name'][i] = top_chunk.iloc[i]['d']  # Assuming 'd' contains last names
                    top_richest['balance'][i] = top_chunk.iloc[i]['g']
                    top_richest['available_funds'][i] = top_chunk.iloc[i]['e']  # Assuming 'e' contains available funds
                    top_richest['outstanding_debts'][i] = top_chunk.iloc[i]['f']  # Assuming 'f' contains outstanding debts
    else : break

In [6]:
# Print the result
print("Top 3 Richest Persons and Their Financial Details:")
for i in range(3):
    print(f"{i+1}. Name: {top_richest['first_name'][i]} {top_richest['last_name'][i]}")
    print(f"   Balance: {top_richest['balance'][i]}")
    print(f"   Available Funds: {top_richest['available_funds'][i]}")
    print(f"   Outstanding Debts: {top_richest['outstanding_debts'][i]}")
    print()

Top 3 Richest Persons and Their Financial Details:
1. Name: Quentin Ferry
   Balance: 1049191
   Available Funds: 4381
   Outstanding Debts: 0

2. Name: Quentin Ferry
   Balance: 1044810
   Available Funds: 2447
   Outstanding Debts: 0

3. Name: Elodie Évrat
   Balance: 1044702
   Available Funds: 2864
   Outstanding Debts: 0

As we can see, we got Quentin Ferry with different balances, so there are multiple entries for individuals with the same name which is a problem, because we don't have enough informations to know if those persons with the same name are the same persons.

Otherwise, we run the code to get the 3 richest perons in the whole dataset :

In [7]:
# Initialize variables to store the top three richest persons and their financial details
top_richest_final = {
    'ID': [0, 0, 0],
    'first_name': ['', '', ''],
    'last_name': ['', '', ''],
    'balance': [0, 0, 0],
    'available_funds': [0, 0, 0],
    'outstanding_debts': [0, 0, 0]
}

In [8]:
start = time.time()
# Iterate through the chunks
for idx, chunk in enumerate(df):
    # Check if the 'g' column exists in the chunk
    if 'g' in chunk.columns and 'e' in chunk.columns and 'f' in chunk.columns:
        # Find the top three richest persons in the current chunk
        top_chunk = chunk.nlargest(3, 'g')

        # Update the top_richest list if a person from the current chunk has a higher balance
        for i in range(3):
            if top_chunk.iloc[i]['g'] > top_richest_final['balance'][i]:
                top_richest_final['ID'][i] = top_chunk.iloc[i]['a']  # Assuming 'a' contains IDs
                top_richest_final['first_name'][i] = top_chunk.iloc[i]['c']  # Assuming 'c' contains first names
                top_richest_final['last_name'][i] = top_chunk.iloc[i]['d']  # Assuming 'd' contains last names
                top_richest_final['balance'][i] = top_chunk.iloc[i]['g']
                top_richest_final['available_funds'][i] = top_chunk.iloc[i]['e']  # Assuming 'e' contains available funds
                top_richest_final['outstanding_debts'][i] = top_chunk.iloc[i]['f']  # Assuming 'f' contains outstanding debts
        
print("Done! this operation took", time.time()-start, "seconds")

Done! this operation took 707.532478094101 seconds

In [9]:
# Print the result
print("Top 3 Richest Persons and Their Financial Details:")
for i in range(3):
    print(f"{i+1}. ID: {top_richest_final['ID'][i]}")
    print(f"   Name: {top_richest_final['first_name'][i]} {top_richest_final['last_name'][i]}")
    print(f"   Balance: {top_richest_final['balance'][i]}")
    print(f"   Available Funds: {top_richest_final['available_funds'][i]}")
    print(f"   Outstanding Debts: {top_richest_final['outstanding_debts'][i]}")
    print()

Top 3 Richest Persons and Their Financial Details:
1. ID: 299998364
   Name: Zoé Walliand
   Balance: 893775958
   Available Funds: 435
   Outstanding Debts: 0

2. ID: 299999538
   Name: Zoé Walliand
   Balance: 893775893
   Available Funds: 0
   Outstanding Debts: -65

3. ID: 299997702
   Name: Zoé Walliand
   Balance: 893775523
   Available Funds: 3382
   Outstanding Debts: 0

So If we see the result, we can conclude another hypothesis : the data contains records of debit and credit transactions, and it's clear that the "e" column is the debit, the "f" column is the credit and the "g" column is the new amount (assuming lower ID means newer transaction because if we analyse the output of the previous code we can conclude that the new amount correspond to the transaction with the lower id which is column "a")

## The new columns explanation will be as follows :

<h1>a :</h1> ID.</br>
<h1>b :</h1> Description.</br>
<h1>c :</h1> The name of the person.</br>
<h1>d :</h1> The family name of the person.</br>
<h1>e :</h1> New Amount</br>
<h1>f :</h1> Debit Transaction</br>
<h1>g :</h1> Credit Transaction</br>

So we will group by First Name and Last Name and keep the row with the maximum Transaction ID (assuming higher ID means newer transaction)

In [17]:
# Initialize variables to store the top three richest persons and their financial details
top_richest = {
    'ID': [0, 0, 0],
    'first_name': ['', '', ''],
    'last_name': ['', '', ''],
    'balance': [0, 0, 0],
}

In [18]:
# Iterate through the chunks
for idx, chunk in enumerate(df):
    chunk1 = chunk.loc[chunk.groupby(['c', 'd'])['a'].idxmin()]
    # Check if the 'g' column exists in the chunk
    if 'g' in chunk1.columns and 'e' in chunk1.columns and 'f' in chunk1.columns:
        # Find the top three richest persons in the current chunk
        top_chunk = chunk1.nlargest(3, 'g')

        # Update the top_richest list if a person from the current chunk has a higher balance
        for i in range(3):
            if top_chunk.iloc[i]['g'] > top_richest['balance'][i]:
                top_richest['ID'][i] = top_chunk.iloc[i]['a']  # Assuming 'a' contains IDs
                top_richest['first_name'][i] = top_chunk.iloc[i]['c']  # Assuming 'c' contains first names
                top_richest['last_name'][i] = top_chunk.iloc[i]['d']  # Assuming 'd' contains last names
                top_richest['balance'][i] = top_chunk.iloc[i]['g']

In [19]:
for i in range(3):
    print(f"{i+1}. ID: {top_richest['ID'][i]}")
    print(f"   Name: {top_richest['first_name'][i]} {top_richest['last_name'][i]}")
    print(f"   Balance: {top_richest['balance'][i]}")
    print()

1. ID: 299900475
   Name: Zoé Walliand
   Balance: 893476875

2. ID: 299901337
   Name: Gerard Parmentier
   Balance: 891936224

3. ID: 299900031
   Name: Océane Urbain
   Balance: 891588324